PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/hms
JWT_SECRET=your_jwt_secret_key_here
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
FROM_EMAIL="HMS Admin" <admin@hms.com>
